*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100vh;
    font-family: "Popppins",sans-serif;
    font-size: 62.5%;
}

.background{
    background : linear-gradient(135deg,#153677,#4c085f);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 100%;
    max-width: 540px;
    background-color: white;
    height: 50rem;
    border-radius: 1rem;
    padding: 4rem 3rem 7rem;
    overflow-y: scroll;
}

.container h1{
    color : #002765;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 2rem;
}

.container h1 img{
    width: 3rem;
    margin-left: 1rem;
}

.container form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;

}

form input{
    flex : 1;
    border : none;
    outline: none;
    padding: 2rem 1rem;
    background: transparent;
    font-size: 1.5rem;
}

form button{
    border: none;
    outline: none;
    background-color: #ff5945;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 2rem;
    padding: 2rem 2rem;
}

#task-container{
    margin-top: 3rem;
    margin-left : 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: auto;
}

#task-container input{
    width: 2rem;
    height: 2rem;
}
#task-container p{
    display: inline-block;
    font-size: 2.5rem;
    margin-left : 2rem;
    margin-bottom: 2rem;
}

#task-container input:checked  + p{
    text-decoration: line-through;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #ff5945;
}
